includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 0
    paths:
        - app
        - Modules/Core
        - Modules/Enrollment
        - Modules/Finance
        - Modules/School
        - Modules/Workflow
        - Modules/Procurement
        - Modules/Library
        - Modules/Risk
        - Modules/Donation
        - Modules/Sales
    excludePaths:
        - Modules/*/database/migrations/*
    checkOctaneCompatibility: false
    reportUnmatchedIgnoredErrors: false
