includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 0
    paths:
        - app
        - Modules/Core
        - Modules/Enrollment
        - Modules/Finance
        - Modules/School
        - Modules/Workflow
        - Modules/Procurement
        - Modules/Library
        - Modules/Risk
        - Modules/Donation
        - Modules/Sales
        - Modules/Transport
        - Modules/Property
        - Modules/Training
        - Modules/Marketplace
        - Modules/Cms
        - Modules/Legal
        - Modules/Asset
        - Modules/Helpdesk
        - Modules/Facility
        - Modules/EOffice
        - Modules/Dms
        - Modules/ItOps
        - Modules/Boarding
        - Modules/Cafeteria
    excludePaths:
        - Modules/*/database/migrations/*
    checkOctaneCompatibility: false
    reportUnmatchedIgnoredErrors: false
